@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using TECH.Areas.Admin.Models
@*@{
    var userString = Context.Session.GetString("UserInfor");
    var user = new UserModelView();
    if (userString != null)
    {
        user = JsonConvert.DeserializeObject<UserModelView>(userString);
    }
}*@


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard">
    <meta name="author" content="TranTienDat">

    <title>Dashboard</title>

    <link rel="icon" href="https://hieutao.com/public/images/logo.jpg">
    <link rel="canonical" href="/admin">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/admin/css/bootstrap.css">
    @*<link rel="stylesheet" href="/lib/bootstrap/d/admin/css/bootstrap.css">*@

    <link rel="stylesheet" href="/public/admin/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/public/admin/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/public/admin/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/admin/css/app.css">
    <link href="~/public/customer/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
    <style>
            .back-ground-image{
                   background: url(./image-side/cover.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        display: inline-block;
        height: 117px;
            }
            .content{
                background-color: #add8e6;
            }
            .menu{
                        text-align: center;
        border-top: 2px solid #35429f;
        border-bottom: 2px solid #35429f;
        display: flex;
        justify-content: center;
        padding: 2px 0px;
            }
                     ul{
                margin: 0;
                padding: 0;
              }
            .leve-1 {
              list-style-type: none;

                display: inline-block;
                position: relative;
                overflow: unset;
            }

            li {
                 float: left;
                    position: relative;
            }
            li span{
                    color: #35429f;
                        font-weight: bold;

        position: absolute;

            }
            .fisrt span{
                    position: absolute;
           left: -18px;
           top: -2px;
            }
                  .last span{
                          position: absolute;
        right: -18px;
        top: -2px;
                  }
            li a {
                       display: inline-block;
        color: #35429f;
        text-align: center;
        padding: 5px 33px;
        text-decoration: none;
        font-weight: bold;
        border-right: 2px solid #35429f;
        line-height: 5px;
        box-sizing: content-box;
        font-size: 14px;
            }
               .last a{
                   border:unset;
               }

     /*       li:hover{
              background-color: red;
            }*/

          /*  li:hover ul, li:hover ul:hover {
                display: block !important;
            }*/

            .leve-2{
               background-color: red !important;
                display: none;
                position: absolute;
                left: 0;
            }
            .leve-2 li a{
              border-right:unset;
            }
            .leve-2 li{
                list-style-type: none;

            }
    </style>
    @RenderSection("Styles", required: false)
</head>

<body class="goto-here">

    <div id="app">
        <div class="container">
            <div class="content">
                <div class="back-ground-image"></div>
                <div class="menu">
                    <ul class="leve-1">
                        <li class="fisrt">
                            <span>|||</span>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FeedBack</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Member</a></li>
                        <li class="last">

                            <a href="#">Admin</a>
                            <span>|||</span>
                        </li>
                    </ul>
                </div>
                @RenderBody()

                <p style="text-align:center">© All Right Reserved</p>

            </div>

        </div>
       
    </div>
    <!-------- END CONTENT -------->
    <!-------- FOOTER -------->
    

    <!-------- END LOADER -------->
    <script src="/public/admin/js/jquery-3.4.1.js"></script>
    <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/public/admin/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/public/customer/js/bootstrap.min.js"></script>
    <script src="~/lib/bootbox/bootbox.all.js"></script>
    <script src="/admin/plugins/notify.min.js"></script>
    <script src="/public/admin/js/main.js"></script>
    <script src="~/share/tedu.js"></script>
    <script src="~/js/shared/shared.js"></script>

    <script src="~/admin/plugins/jquery.twbsPagination.min.js"></script>
    <script src="~/public/customer/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
