
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-box"><h1>Medical care is used for Health Insurance. This System is Maintain al information about the patient</h1></div>


