@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content-box{
            padding: 0px 74px;
    }
    .title-box{
        color: #35429f;
        text-align:center;
    }
    .text-content{
        color:#20282a;
            font-weight: bold;
    }
    .content-two{
        margin: 20px 0px;
    }
</style>
<div class="content-box">
    <h3 class="title-box">We Will Take Care About Your Health with a Policy</h3>
    <div class="content-one text-content">
        This project is aimed to developing an online Health Insurance System. An Organization wants to starts Health
        Insurance against its employee.
    </div>
    <div class="content-two text-content">
        The Medical care system will maintain all information related to the employee (Patient), maintenances of Claims
        pertaining to the Insurance companies, information about all sort of medical services providing by the hospital to the

        corporate employees, claim settlements & adjustments against their services authorizing by the Insurance
        Companies.

    </div>
    <div class="content-three text-content">
        Additionally this system can also maintain the health related all information of the employees.

    </div>
 
</div>