
@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p{
        color: #20282a;
        font-weight: bold;
    }
</style>
<div class="content-box" style="min-height: 500px; width: 70%; margin: 40px auto 0px auto;">
    @*<p class="title-content-box">Welcome to the New</p>*@
    <p>
        The Ministry of Finance is collecting opinions on the draft Circular of the Ministry of Finance guiding a number of articles and measures to implement the Law on Insurance Business, the Government's Decree detailing the implementation of the Law on Insurance Business.
    </p>
    <p>
        The insurance enterprise is responsible for fully handing over the contract to the insurance buyer in the forms agreed upon in the insurance contract and must have a confirmation that the insurance buyer has received the insurance contract.
    </p>
</div>
