
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .box-form {
        width: 500px;
       margin: 60px auto;
        padding-bottom: 40px;
            margin-top: 20px;
    }

    .title {
        color: #35429f;
        font-weight: bold !important;
    }

    .title-box {
            text-align: center;
    padding: 5px 0px;
       font-size: 25px;
    color: #323ef8;
    }

    .btn-submit {
        border: 1px solid #35429f;
        color: #35429f;
        font-weight: bold !important;
        text-align: right;
        padding: 1px 10px;
        border-radius: 4px;
        margin-top: 10px;
    }

    .txt-title {
        padding-left: 20px;
        display: flex;
        align-items: center;
    }
</style>
<div class="content-box">
    <div class="box-form">
        <form id="form-submit" action="#">
            <p class="title title-box">Order for insurance Policy</p>
            <div class="form-group row">
                <label for="first-name-icon" class="col-sm-4 title txt-title">PolicyId:</label>
                <div class="col-sm-8" style="padding-right: 45px;">
                    <select id="PolicySelect" class="form-control">
                        <option value="">Choose Policy Id</option>
                    </select>
                </div>
                <!---->
            </div>
            <div class="form-group row">
                <label for="first-name-icon" class="col-sm-4 title txt-title">PolicyName</label>
                <div class="col-sm-8" style="padding-right: 45px;">
                    <input type="text" placeholder="Policy Name" id="PolicyName" name="PolicyName" class="form-control" autocomplete="off">
                </div>
                <!---->
            </div>
            <div class="form-group row">
                <label for="first-name-icon" class="col-sm-4 title txt-title"> PolicyAmount </label>
                <div class="col-sm-8" style="padding-right: 45px;">
                    <input type="number" placeholder="Policy Amount" id="PolicyAmount" name="PolicyAmount" class="form-control" >
                </div>
                <!---->
            </div>
            <div class="form-group row">
                <label for="first-name-icon" class="col-sm-4 title txt-title">EMI</label>
                <div class="col-sm-8" style="padding-right: 45px;">
                    <input type="number" placeholder="EMI" id="EMI" name="EMI" class="form-control" autocomplete="off">
                    
                </div>
                <!---->
            </div>
            <div class="form-group row">
                <label for="first-name-icon" class="col-sm-4 title txt-title"> Request Date</label>
                <div class="col-sm-8" style="padding-right: 45px;">
                    <input type="text" placeholder="Request Date" id="RequestDate" name="RequestDate" class="form-control" autocomplete="off">
                    
                </div>
                <!---->
            </div>
            <div class="form-group row">
                <label for="first-name-icon" class="col-sm-4 title txt-title"> CompanyName </label>
                <div class="col-sm-8" style="padding-right: 45px;">
                    <input type="text" placeholder="Company Name" id="CompanyName" name="CompanyName" class="form-control">
                    
                </div>
                <!---->
            </div>
            <div class="form-group row">
                <label for="first-name-icon" class="col-sm-4 title txt-title">CompanyId</label>
                <div class="col-sm-8" style="padding-right: 45px;">
                    <input type="number" placeholder="Company Id" id="CompanyId" name="CompanyId" class="form-control" autocomplete="off">
                    
                </div>
                <!---->
            </div>            
            <div class="form-group" style="text-align: center;margin-top: 30px;">
                <button type="submit" class="btn-submit">ADD</button>
                <button type="button" class="btn-submit btn-cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#RequestDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                formatSubmit: 'yyyy/mm/dd'
            });
            $(".btn-cancel").click(function(){
                window.location.reload();
            })
            GetPolicyCompany();
            $("#form-submit").validate({
                rules:
                {
                    FirstName: {
                        required: true,
                    },
                    PolicyName: {
                        required: true,
                    },
                    PolicyAmount: {
                        required: true,
                    },
                    CompanyName: {
                        required: true,
                    },
                    EMI: {
                        required: true,
                    },
                    CompanyId: {
                        required: true,
                    }
                },
                messages:
                {
                    PolicyName: {
                        required: "Please enter your Policy Name",
                    },
                    PolicyAmount: {
                        required: "Please enter your Policy Amount",
                    },
                    EMI: {
                        required: "Please enter your EMI",
                    },
                    CompanyId: {
                        required: "Please enter your CompanyId",
                    },
                    CompanyName: {
                        required: "Please enter your Company Name",
                    }
                },
                submitHandler: function (form) {
                    var date = $("#RequestDate").datepicker('getDate');
                    date = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();

                    var PolicyRequestDetailsModelView ={
                        PolicyName:$("#PolicyName").val(),
                        PolicyAmount:$("#PolicyAmount").val(),
                        EMI:$("#EMI").val(),
                        CompanyId: $("#CompanyId").val(),
                        PoicyId:$("#PolicySelect").val(),
                        RequestDate: date,
                        CompanyName:$("#CompanyName").val()
                    };
                    $.ajax({
                        url: '/PolicyRequestDetails/AddRequestDetails',
                        type: 'Post',
                        dataType: 'json',
                        data: {
                            policyRequestDetailsModelView: PolicyRequestDetailsModelView
                        },
                        beforeSend: function () {
                            Loading('show');
                        },
                        complete: function () {
                            Loading('hiden');
                        },
                        success: function (response) {
                            if (response.status) {                                
                                 swal("Success", "Update successful", "success");
                            }
                            else {
                               swal("Error!", "Update Employ failed", "error");
                            }
                        }
                    })
                }
            });
        })
        function GetPolicyCompany() {
            $.ajax({
                url: '/Policies/GetAllPolicy',
                type: 'GET',
                dataType: 'json',
                beforeSend: function () {
                    //Loading('show');
                },
                complete: function () {
                    //Loading('hiden');
                },
                success: function (response) {
                    if (response.data != null && response.data.length > 0) {
                        var html = "<option value =\"\">Choose Policy Id</option>";
                        if (response.data != null && response.data.length > 0) {
                            for (var i = 0; i < response.data.length; i++) {
                                var item = response.data[i];
                                html += "<option value =" + item.PolicyId + ">" + item.PolicyId + "</option>";
                            }
                        }
                        $("#PolicySelect").html(html);
                    }
                }
            })
        }
    </script>
    }


