
@{
    ViewData["Title"] = "LoginEmployView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .box-login{
        width:500px;
        margin: 100px auto;
        border: 1px solid #35429f;
    }
    .title{
        color:#35429f;
        font-weight: bold !important;
    }
    .title-box{
    text-align: center;
    background: #808000;
    margin-bottom: 25px;
    padding: 5px 0px;
    color: #fff !important;
    }
    .btn-submit{
        border: 1px solid #35429f;
        font-weight: bold !important;
            text-align: right;
    padding: 1px 10px;
    border-radius: 4px;
    margin-top: 10px;
        background: #7e7700;
    color: #fff;
    }
    .txt-title{
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-right: 18px;
    justify-content: right;
    color: #eb670a !important;
    }
    .custom-group{
            text-align: center;
    }
    
</style>
<div class="content-box">
    <div class="box-login">
        <form id="form-submit" action="#">
        <p class="title title-box">Change Your Password</p>
        <div class="form-group row">
            <label for="first-name-icon" class="col-sm-5 title txt-title"> Enter Your Old PassWord: </label>
            <div class="col-sm-7" style="padding-right: 45px;">
                    <input type="password" placeholder="old password" id="oldpassword" name="oldpassword" class="form-control custom-input">
                <label id="full_name-error" class="error" for="full_name" style="display: none;">Số điện thoại đã tồn tại</label>
            </div>
            <!---->
        </div>
        <div class="form-group row">
                <label for="first-name-icon" class="col-sm-5 title txt-title">Enter Your New PassWord:</label>
            <div class="col-sm-7" style="padding-right: 45px;">
                    <input type="password" placeholder="PassWord" id="newpassword" name="newpassword" class="form-control custom-input" autocomplete="off">
                <label id="full_name-error" class="error" for="full_name" style="display: none;">Số điện thoại đã tồn tại</label>
            </div>
            <!---->
        </div>
        <div class="form-group custom-group" style="text-align: center">
            <button type="submit" class="btn-submit">Submit</button>
        </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form-submit").validate({
                rules:
                {
                    oldpassword: {
                        required: true,
                    },
                    newpassword: {
                        required: true,
                    }
                },
                messages:
                {
                    oldpassword: {
                        required: "Please enter your old password",
                    },
                    newpassword: {
                        required: "Please enter your new password",
                    }
                },
                submitHandler: function (form) {
                    var oldpassword = $("#oldpassword").val();
                    var newpassword = $("#newpassword").val();
                    $.ajax({
                        url: '/Employee/ChangePassWordNew',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            oldPassword: oldpassword,
                            newPassword: newpassword
                        },
                        beforeSend: function () {
                            Loading('show');
                        },
                        complete: function () {
                            Loading('hiden');
                        },
                        success: function (response) {
                            if (response.status == 1) {
                                swal("Change Password Error!", "The old password cannot be the same as the new password", "info");
                            }
                            else if (response.status == 2) {
                                swal("Change Password Error!", "Old password is not correct", "info");
                            }
                            else if (response.status == 3) {
                                swal("Success !", "Change password successfully", "success");
                                //setTimeout(function(){
                                //    window.location.replace("/employee");
                                //},700);
                            }
                            else {
                                swal("Change Password Error!", "password change failed", "error");
                            }
                        }
                    })
                }
            });
        })
    </script>
    }
